
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  /* primary colors */
  --default-cl: #ffffff;
  --main-cl: #F0A45E;
  --main-bg-cl: #2C2B2B;
  --secondary-bg-cl: #484646;
  --tertiary-bg-cl: rgb(117, 115, 115);
  --primary--desktop-bg: rgb(182, 182, 182);
}
canvas{
    background-color: #ffffff62;
}
.nav {
  display: hidden;
  position: absolute;
  top: 1;
  background-color: red;
}

.navbar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.avatar {
    width: 50px;
    height: 50px;
    margin-right: 50px;
}
/* main app */
.app{
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
    width: 100vw;
    /* background-color: var(--main-bg-cl); */
    min-height: 100vh;
}
.header {
    color: var(--main-bg-cl);
}
.wrapper{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 75vh;
  padding: 20px 0;
  border-radius: 40px;
  width: 100vw;
  background-color: var(--secondary-bg-cl); */
}

.second-wrapper{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 75vh;
  padding: 20px 0;
  border-radius: 40px;
  width: 100vw;
  background-color: var(--secondary-bg-cl); */
}

.content{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--default-cl);
    padding: 10px;
    height: 100%; */
}
.second-content{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--default-cl);
    padding: 10px;
    height: 100%; */
}
.label{
  
}
input{
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: 100px;
}
.title{
  color: var(--main-cl);
  text-transform: uppercase;
  font-size: 20px;
}
.sub-title{
  color: var(--main-cl);
  text-transform: uppercase;
  font-size: 15px;
}
/* MAIN CONTENT */

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgb(89, 89, 89);
}
.user-content{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgb(89, 89, 89);
}
.second-main{
    margin-top: 60px;
}
.user-amount{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 15px;
}

.label{
    color: rgb(185, 185, 185);
    margin-bottom: 10px;
    margin-top: 20px;
}
.bottom-container {
    margin-top: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-cl);
    width: 300px;
    border-radius: 5px;
}
.counter-container{
    display: flex;
    align-items: center;
    width: 100px;
    border-radius: 5px;
    justify-content: space-between;
    margin: 10px 0;
    transition: all .1s ease-in;
    padding: 0 5px;
}

.count{
    padding: 0 10px;
    font-size: 25px;
    cursor: pointer;
}
.icon{
    /* font-size: 20px; */
    cursor: pointer;
    opacity: .5;
}
.icon:hover{
    opacity: .9;
}
.liters{
    /* font-size: 14px; */
    color: rgb(47, 47, 47);
    margin: 0 10px;
}
.dropdown{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    user-select: none;
    align-items: center;
    /* background-color: var(--main-cl); */
    border-radius: 5px;
    border: 1px solid var(--main-cl);
}
.dropdown-btn{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: rgb(88, 88, 88);
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    margin: 4px;
    cursor: pointer;
    transition: all .1s ease-in;
}

.dropdown-btn:hover{
   background-color: #ffcb9a;
}

.dropdown-content{
    position: absolute;
    width: 300px;
    margin-top: 40px;
    border-radius: 5px;
    top: 0;
    display: flex;
    text-align: start;
    flex-direction: column;
    align-items: center;
    color: rgb(88, 88, 88);
    background-color: var(--main-cl);
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    transition: all .2s ease-in;
    width: 100%;
}

.dropdown-item:hover{
    color: black;
    border-radius: 5px;
    background-color: rgb(227, 227, 227);
}
.hide {
    display: none;
}
.arrow{
    width: 20px;
    height: 20px;
    object-fit: cover;
    padding: 2px;
    margin: 5px
}
.input-container {
    margin: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.name{
    color: white;
    font-weight: bold;
}
.stored-data {
    margin-top: 10px;
    width: 100%;
    margin-right: 10px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
@media screen and (min-width: 752px){
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: var(--main-cl);
    border-bottom: .2px solid rgb(150, 150, 150);
  }
  .app{
    padding-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* background: white; */
    background-color: var(--primary--desktop-bg);
    /* min-height: 100vh; */
  }
    .header {
        color: var(--main-bg-cl);
        padding: 10px;
        background-color: var(--main-cl);
        border-bottom: .2px solid gray;
    }
  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding: 10px;
    border-radius: 0px;
    width: 100%;
    background-color: var(--secondary-bg-cl);
  }
  .second-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding: 10px;
    border-radius: 0px;
    width: 100%;
    background-color: var(--tertiary-bg-cl);
  }
  .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--default-cl);
    padding: 10px;
    height: 100%;
    }

    .main-content{
        margin: 5px;
        display: flex;
        width: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 340px;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid rgb(89, 89, 89);
    }
    .user-content{
        margin: 5px;
        display: flex;
        width: 300px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        height: 340px;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid rgb(89, 89, 89);
    }
  .second-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--default-cl);
    padding: 10px;
    height: 100%;
    }
    .second-main-content{
        margin: 5px;
        display: flex;
        width: 300px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 340px;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid rgb(89, 89, 89);
    }
    .third-main-content{
        margin: 5px;
        display: flex;
        width: 610px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 340px;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid rgb(89, 89, 89);
    }
    .calc-litres{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .calc-change{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .calc-amount{
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .current-fuel-price{
        width: 100%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        margin-top: 10px;
    }
    .fuel-price{
        width: 100%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        margin-top: 10px;
    }
    .lit-container{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        background-color: rgb(144, 144, 144);
    }
    .lit{
        display: flex;
    }
    .lit, .rand{
        font-size: 16px;
        font-weight: bold;
    }
    .cost-title{
        font-size: 16px;
        color: rgb(67, 66, 66);
    }
}

.save-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
}
.button{
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin:10px;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(86, 86, 86);
}