*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .container{
        background-color: #2C2B2B;

    }

@media screen and (min-width: 752px){
    .container{
        background-color: #f1f1f1;

    }
}


/* Mobile viewports */