.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainContent{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgb(89, 89, 89);
}

.label{
    color: rgb(185, 185, 185);
    margin-bottom: 10px;
    margin-top: 20px;
}
.bottomContainer {
    margin-top: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-cl);
    width: 300px;
    border-radius: 5px;
}
.counterContainer{
    display: flex;
    align-items: center;
    width: 100px;
    border-radius: 5px;
    justify-content: space-between;
    margin: 10px 0;
    transition: all .1s ease-in;
    padding: 0 5px;
}

.count{
    padding: 0 10px;
    font-size: 25px;
    cursor: pointer;
}
.icon{
    /* font-size: 20px; */
    cursor: pointer;
    opacity: .5;
}
.icon:hover{
    opacity: .9;
}
.liters{
    /* font-size: 14px; */
    color: rgb(47, 47, 47);
    margin: 0 10px;
}
